# Node / Next
node_modules/
.nvm/
apps/web/.next/
apps/web/out/
.env
.env.*
!.env.example

# Maven (repo local del workspace)
.m2/
apps/api/target/

# OS / IDE
.DS_Store
*.iml
.idea/
.vscode/
.cursor/
